In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://mvg87898:fm3pf0-5pxss8jh9@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB

In [4]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [5]:
%sql SELECT *FROM CHICAGO_CRIME_DATA LIMIT 10;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

In [11]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA WHERE ARREST = "TRUE";

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

In [38]:
%sql SELECT PRIMARY_TYPE, COUNT(PRIMARY_TYPE) AS "Num_of_crimes" FROM CHICAGO_CRIME_DATA GROUP BY PRIMARY_TYPE;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARSON', Decimal('2')),
 ('ASSAULT', Decimal('32')),
 ('BATTERY', Decimal('92')),
 ('BURGLARY', Decimal('30')),
 ('CONCEALED CARRY LICENSE VIOLATION', Decimal('1')),
 ('CRIM SEXUAL ASSAULT', Decimal('3')),
 ('CRIMINAL DAMAGE', Decimal('58')),
 ('CRIMINAL TRESPASS', Decimal('15')),
 ('DECEPTIVE PRACTICE', Decimal('20')),
 ('DOMESTIC VIOLENCE', Decimal('1')),
 ('GAMBLING', Decimal('2')),
 ('HOMICIDE', Decimal('2')),
 ('HUMAN TRAFFICKING', Decimal('1')),
 ('INTERFERENCE WITH PUBLIC OFFICER', Decimal('2')),
 ('INTIMIDATION', Decimal('1')),
 ('KIDNAPPING', Decimal('1')),
 ('LIQUOR LAW VIOLATION', Decimal('2')),
 ('MOTOR VEHICLE THEFT', Decimal('24')),
 ('NARCOTICS', Decimal('54')),
 ('NON - CRIMINAL', Decimal('1')),
 ('NON-CRIMINAL', Decimal('1')),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)', Decimal('1')),
 ('OBSCENITY', Decimal('1')),
 ('OFFENSE INVOLVING CHILDREN', Decimal('4')),
 ('OTHER NARCOTIC VIOLATION', Decimal('1')),
 ('OTHER OFFENSE', Decimal('32')),
 ('PROSTITUTION', Decimal('6')),
 ('PUBLIC INDECENCY', Decimal('1')),
 ('PUBLIC PEACE VIOLATION', Decimal('5')),
 ('RITUALISM', Decimal('1')),
 ('ROBBERY', Decimal('20')),
 ('SEX OFFENSE', Decimal('3')),
 ('STALKING', Decimal('1')),
 ('THEFT', Decimal('106')),
 ('WEAPONS VIOLATION', Decimal('6'))]

In [40]:
%sql SELECT location_description, COUNT(location_description) AS "Num_of_crimes" FROM CHICAGO_CRIME_DATA GROUP BY location_description;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('AIRPORT/AIRCRAFT', Decimal('3')),
 ('ALLEY', Decimal('11')),
 ('APARTMENT', Decimal('59')),
 ('ATHLETIC CLUB', Decimal('1')),
 ('BANK', Decimal('5')),
 ('BAR OR TAVERN', Decimal('4')),
 ('CHA APARTMENT', Decimal('2')),
 ('CHA HALLWAY/STAIRWELL/ELEVATOR', Decimal('1')),
 ('CHA PARKING LOT/GROUNDS', Decimal('3')),
 ('CHURCH/SYNAGOGUE/PLACE OF WORSHIP', Decimal('5')),
 ('CLEANING STORE', Decimal('1')),
 ('COLLEGE/UNIVERSITY GROUNDS', Decimal('1')),
 ('COMMERCIAL / BUSINESS OFFICE', Decimal('4')),
 ('CONSTRUCTION SITE', Decimal('2')),
 ('CONVENIENCE STORE', Decimal('1')),
 ('CTA BUS', Decimal('1')),
 ('CTA PLATFORM', Decimal('3')),
 ('CTA TRAIN', Decimal('1')),
 ('DEPARTMENT STORE', Decimal('9')),
 ('DRUG STORE', Decimal('3')),
 ('FACTORY/MANUFACTURING BUILDING', Decimal('1')),
 ('GAS STATION', Decimal('6')),
 ('GOVERNMENT BUILDING/PROPERTY', Decimal('1')),
 ('GROCERY FOOD STORE', Decimal('8')),
 ('HOSPITAL BUILDING/GROUNDS', Decimal('1')),
 ('HOUSE', Decimal('1')),
 ('LIBRARY', Decimal('1')),
 ('MOVIE HOUSE/THEATER', Decimal('1')),
 ('NURSING HOME/RETIREMENT HOME', Decimal('2')),
 ('OTHER', Decimal('18')),
 ('OTHER COMMERCIAL TRANSPORTATION', Decimal('2')),
 ('PARKING LOT/GARAGE(NON.RESID.)', Decimal('16')),
 ('POLICE FACILITY/VEH PARKING LOT', Decimal('2')),
 ('RESIDENCE', Decimal('84')),
 ('RESIDENCE PORCH/HALLWAY', Decimal('10')),
 ('RESIDENCE-GARAGE', Decimal('10')),
 ('RESIDENTIAL YARD (FRONT/BACK)', Decimal('6')),
 ('RESTAURANT', Decimal('11')),
 ('SCHOOL, PRIVATE, BUILDING', Decimal('1')),
 ('SCHOOL, PUBLIC, BUILDING', Decimal('5')),
 ('SCHOOL, PUBLIC, GROUNDS', Decimal('6')),
 ('SIDEWALK', Decimal('64')),
 ('SMALL RETAIL STORE', Decimal('8')),
 ('STREET', Decimal('136')),
 ('TAVERN/LIQUOR STORE', Decimal('1')),
 ('VACANT LOT/LAND', Decimal('1')),
 ('VEHICLE NON-COMMERCIAL', Decimal('9')),
 ('WAREHOUSE', Decimal('1'))]

In [42]:
%sql SELECT location_description, COUNT(location_description) FROM CHICAGO_CRIME_DATA WHERE location_description="GAS STATION";

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Exception('SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "STATION" was found following "tion_description=GAS".  Expected tokens may include:  "END-OF-STATEMENT".  SQLSTATE=42601\r SQLCODE=-104')
[SQL: SELECT location_description, COUNT(location_description) FROM CHICAGO_CRIME_DATA WHERE location_description=GAS STATION;]
(Background on this error at: http://sqlalche.me/e/f405)

In [45]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%';

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

In [83]:
%sql select distinct PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In [99]:
%sql select NAME_OF_SCHOOL from \
(select *from CHICAGO_PUBLIC_SCHOOLS where COMMUNITY_AREA_NUMBER between 10 and 15) \
where HEALTHY_SCHOOL_CERTIFIED = 'Yes';

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

In [100]:
%sql SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [111]:
%sql SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT) AS COUNT \
FROM CHICAGO_PUBLIC_SCHOOLS \
GROUP BY COMMUNITY_AREA_NAME \
ORDER BY COUNT DESC \
LIMIT 5;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

In [116]:
%sql SELECT COMMUNITY_AREA_NAME, MIN(SAFETY_SCORE) AS MIN \
FROM CHICAGO_PUBLIC_SCHOOLS \
GROUP BY COMMUNITY_AREA_NAME \
ORDER BY MIN DESC \
LIMIT 1;

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', None)]

In [125]:
%sql SELECT PER_CAPITA_INCOME, COMMUNITY_AREA_NAME \
FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = \
(SELECT COMMUNITY_AREA_NUMBER\
FROM CHICAGO_PUBLIC_SCHOOLS \
WHERE SAFETY_SCORE = 1);

 * ibm_db_sa://mvg87898:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785, 'Washington Park')]